# Automatically activate the nix devshell when entering this directory.
# Requires direnv + nix-direnv (recommended) or plain direnv with flake support.
#
# Install nix-direnv:  https://github.com/nix-community/nix-direnv
# Then run:  direnv allow
use flake
